---
layout: project
project-img-src: ../assets/images/damage_control
header-params:
  title: Damage Control for iOS
  sub-title: A personal activity feed for peace of mind on all your social activity
  company: Crank Sesh Studios
  when: Aug 2011 – Jun 2012
---
{% include project-header-old.html params=page.header-params %}

<div class="{{ site.project-wrapper }}">
  <p>2011 was an exciting time enabled by many new methods of communicating with the world on emerging social media channels. Though just because you are able to share what’s on your mind, doesn’t mean you always should.</p>
  <div class="spacer"></div>
  <h2 class="content-header">The Problem</h2>
  <p>While social channels focused on reporting the social activity of your friends, little effort was put into providing an accessible account of your own activity. Damage Control set out to tackle the scattered, limited, or complete lack of personal activity feeds provided by platforms into one accessible and editable feed.</p>
</div>

<div class="full-width full-width--text-zebra">
  <div class="{{ site.project-wrapper }}">
    <h2 class="content-header">My Role</h2>
    <p class="body-header">Market Research &amp; Ideation</p>
    <p>The need for an improved user experience became clear in my final year at Washington State University. I was the witness to a complex ecosystem struggling with strong desires for a personal voice, a plethora of new social channels on which to broadcast, and at times, too little friction to do so.</p>
    <p>Measuring one’s broadcastings into the social ether involved visiting networks individually and trying to read a story broken up into chronological puzzle pieces. This activity feed was often only available on desktop clients, read-only or was flat out missing.</p>
    <p>I defined and executed the concept and user experience through the design of all user flows and visual assets. I worked with one iOS developer to implement and launch the application. This was an after-hours moonlit project completed as a full-time student and working part time.</p>
  </div>
</div>

<div class="{{ site.project-wrapper }}">
  <h2 class="content-header">The Approach</h2>
  <p>The objective was to tell a unified story of pieced together sporadic activity and blank spots. With one tap to open the app, the user pulled information for a 24 hour period, starting from noon the day before.</p>
</div>

{% include project-img-embed.html
    type = "side-by-side"
    project-img-src = page.project-img-src
    img1-src = "/dc_feed_1.png"
    img1-alt = "Damage Control Feed 1"
    img1-caption = "Caption 1"
    img2-src = "/dc_feed_2.png"
    img2-alt = "Damage Control Feed 2"
    img2-caption = nil
%}

<div class="{{ site.project-wrapper }}">
  <p>It was now easy to group activities and step through your story. Tapping a list item expanded to present the details of that activity. A user could read the content of a tweet or comment they had sent to a friend, or be reminded of liking a handful of photos at 3am. If modifying or deleting an activity was necessary, they could navigate to the permalink of that post.</p>
  <p class="body-header">It's All About (a Couple) Benjamins Baby</p>
  <p>Damage Control was a passion project created to make lives easier but these were the crazy days when "Draw Something" had just sold for $200M! The freemium model was alive and well and I wanted to craft a fair but rewarding model that fit for my application. A user should be able to fully utilize an application and only hit a paywall during advanced usage. Once it was a pleasant and useful experience integrated into users’ behaviors, the value of the app would be validated.</p>
  <p>It was free-to-play up to a normal amount of activity – 6 engagements. If an evening was particularly chatty, say 9 engagements, a random 3 of the list items would be present but their details would be locked. A one time in-app purchase of $0.99 would forever unlock your timeline.</p>
</div>

{% include project-img-embed.html
    type = "single-center"
    project-img-src = page.project-img-src
    img1-src = "/dc_lock_1.png"
    img1-alt = "Lock Screen In-App Purchase"
    img1-caption = "Caption Lock"
%}

<div class="{{ site.project-wrapper }}">
  <p>These locked activities highlighted the exact value you would receive from the in-app purchase and tempted the user to evaluate alternative methods. I keep the selection of locked posts completely random so you might become familiar with it a few times before it became essential to pass.</p>
  <p>It was designed to stand out in a landscape of apps littered with clunky advertising and degraded experiences. This model allowed for frictionless distribution, a useful free experience, a clearly positioned value proposition, and lead to an 8% conversion of paid users.</p>
</div>

<div class="full-width full-width--text-zebra">
  <div class="{{ site.project-wrapper }}">
    <h2 class="content-header">The Impact</h2>
    <p>Damage Control was as a moonlit passion project and my first iOS application as a full-time student and working part time. The project from ideation, to a very agile process with the engineer, to iTunes app approval took 6 months. I developed my own personal skills as a UI designer, and was able to craft and execute a user experience I was proud of.</p>
    <p>Development on the app halted after it’s initial release as my team member and I both moved to different cities and stated new full time jobs. In 12 months in the iTunes app store, the application was still able to make a positive impact:</p>
    <ul>
      <li>1,000+ app downloads with zero marketing efforts.</li>
      <li>Averaged 150 weekly active users.</li>
      <li>8% conversion rate on in-app purchases.</li>
    </ul>
    <div class="spacer"></div>
  </div>
</div>
