---
layout: project
project-img-src: ../assets/images/data_viz
---
{% include project-header2.html
  title = "Data Visualization"
  sub-title = "My professional career is focused on telling complex stories by transforming complex data into actionable and insightful information. Understanding the user’s context with the data is vital to making information accessible and dictates the form. The following are examples of different stories I’ve told with information focused on principles of clarity, accessibility, and delivering insight."
%}

{% include project-img-embed2.html
    page-src = page.project-img-src
    src = "https://cl.ly/0m3k1L0L0u0O/sm-horiz.png"
    alt = "alt"
    caption = "this is a caption"
%}

{% include project-img-embed2.html
    page-img-src = page.project-img-src
    src = "https://cl.ly/3M0G0Z281b0J/sm-vert.png"
    alt = "alt"
%}

{% include project-img-embed2.html
    page-img-src = page.project-img-src
    src = "https://cl.ly/263C3O3s402u/lrg-horiz.png"
    alt = "alt"
%}

{% include project-img-embed2.html
    page-img-src = page.project-img-src
    src = "https://cl.ly/3I3S3W2m260P/lrg-vert.png"
    alt = "alt"
%}
