<footer class="full-width full-width--base_color">
  <div class="wrapper site-footer grid-row">
    <p class="email col-sm-12 center-sm col-lrg-4 start-lrg">gino.valente3@gmail.com</p>
    <div class="col-sm-12 center-sm col-lrg-4">
      <a class="social-item" href="#">linkedin</a>
      <a class="social-item" href="#">instagram</a>
      <a class="social-item" href="#">github</a>
    </div>
    <p class="copyright col-sm-12 center-sm col-lrg-4 end-lrg">website design, content, and development by me!</p>
  </div>
</footer>
