{% case include.type %}

{% when 'single-center' %}
  <!-- Single Centered Image -->
  <div class="image-row col-sm-11 col-med-6 col-xlrg-4">
    <figure class="image-container">
      <img src="{{ include.project-img-src }}{{ include.img1-src }}" alt="{{ include.img1-alt }}">
      {% if include.img1-caption %}
        <figcaption>{{ include.img1-caption }}</figcaption>
      {% endif %}
    </figure>
  </div>


{% when 'side-by-side' %}
  <!-- Side By Side Images -->
  <div class="image-row col-sm-11 col-xlrg-9">
    <figure class="image-container">
      <img src="{{ include.project-img-src }}{{ include.img1-src }}" alt="{{ include.img1-alt }}">
      {% if include.img1-caption %}
        <figcaption>{{ include.img1-caption }}</figcaption>
      {% endif %}
    </figure>
    <div class="img-spacer"></div>
    <figure class="image-container">
      <img src="{{ include.project-img-src }}{{ include.img2-src }}" alt="{{ include.img2-alt }}">
      {% if include.img2-caption %}
        <figcaption>{{ include.img2-caption }}</figcaption>
      {% endif %}
    </figure>
  </div>

{% endcase %}
