<!-- Side By Side Images -->
<div class="image-row col-sm-11 col-lrg-19">
  <figure class="image-container">
    <img src="{{ include.project-img-src }}{{ include.img1-src }}" alt="{{ include.img1-alt }}">
    {% if include.img1-caption %}
      <figcaption>{{ include.img1-caption }}</figcaption>
    {% endif %}
  </figure>
  <div class="img-spacer"></div>
  <figure class="image-container">
    <img src="{{ include.project-img-src }}{{ include.img2-src }}" alt="{{ include.img2-alt }}">
    {% if include.img2-caption %}
      <figcaption>{{ include.img2-caption }}</figcaption>
    {% endif %}
  </figure>
</div>
