// RESETS
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-body-family; //TODO: Add fallbacks
  font-size: $font-body-size;
  line-height: $font-body-line-height;
  color: $color-base;
}

.full-width {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  &--base_color { background-color: $color-base; }
  &--text-zebra { background-color: rgba($color-base, 0.04); }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $site-max-width;
}
