// Site Header
.site-header {
  background-color: $color-base;
  padding: $std-padding*4 0;

  .site-title {
    text-transform: uppercase;
    color: $color-white-alpha;
    transition: color 300ms;
    text-decoration: none;

    &:hover { color: $color-accent1; }
  }

  .nav-item {
    font: 18px / 22px 'MontserratSemiBold';
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white-alpha;
    transition: color 300ms;
    padding: 0 $std-padding * 2;
    flex: 0;

    &.active { color: $color-accent2; }
    &:hover:not(.active) { color: $color-accent1; }
  }
}


// Project Header
.project-header {
  padding: $std-padding*10 0;
  color: $color-white-alpha;

  @media (min-width: map-get($breakpoints, xlrg)) { // 1200px
    max-width: 768px;
  }

  .title {
    color: $color-accent1;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding-bottom: $std-padding * 8;
  }
}


// Project Content
.project-content {
  padding: $std-padding*14 $std-padding*4 $std-padding*10 $std-padding*4;

  .content-header {
    text-transform: uppercase;
    padding-bottom: $std-padding * 6;
  }

  .body-header {
    margin-bottom: $std-padding;
    font-weight: bold;
  }
}


// Site Footer
.site-footer {
  display: flex;
  font-size: 14px;
  color: $color-white-alpha !important;
  padding: $std-padding*3 0;

  .social-item {
    color: $color-white-alpha;
    text-decoration: none;

    &:hover { color: $color-accent1; }
    &:not(:last-child):after {
      content: "•";
      color: $color-white-alpha;
      padding: 0 $std-padding 0 $std-padding * 1.2;
    }
  }
}
