// Site Header
.site-header {
  background-color: $color-base;
  color: $color-white-alpha;
  padding: $std-padding*4 0;

  .site-title { text-transform: uppercase; }

  .nav-item {
    font: 18px / 22px 'MontserratSemiBold';
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white-alpha;
    transition: color 300ms;
    padding: 0 $std-padding * 2;
    flex: 0;

    &.active { color: $color-accent2; }
    &:hover:not(.active) { color: $color-accent1; }
  }
}


// Project Header
.project-header {
  flex-flow: column wrap;
  padding: $std-padding*10 0;
  color: $color-white-alpha;

  & > * { width: 100%; } //TODO: Gotta be a better way to only put one object per line

  .title {
    color: $color-accent1;
    letter-spacing: 1.6px;
    padding-bottom: $std-padding * 8;
  }

  .company {
    padding-top: $std-padding * 8;
    text-transform: uppercase;
  }
}


// Project Content
.project-content {
  padding: $std-padding*14 0 $std-padding*10;
}

.content-header {
  text-transform: uppercase;
  padding-bottom: $std-padding * 6;
}


// Site Footer
.site-footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $color-white-alpha !important;
  padding: $std-padding*3 0;
  flex-direction: row-reverse;

  .social-item {
    color: $color-white-alpha;
    text-decoration: none;

    &:hover { color: $color-accent1; }
    &:not(:last-child):after {
      content: "•";
      color: $color-white-alpha;
      padding: 0 $std-padding 0 $std-padding * 1.2;
    }
  }
}
