---
---
@charset "utf-8";
@import "fonts";


// variables
$std-padding: 6px;

// colors
$color-base: #263c4d;
$color-accent1: #31eed7;
$color-accent2: #ec01ed;
$color-white-alpha: rgba(255,255,255,0.94);

// font
$font-base-color: $color-base;
$font-body-family: 'CallunaRegular';
$font-body-size: 24px;
$font-body-line-height: 36px;
$font-scale: 1.333;

// font styles

//TODO: set font sizes based on font scale
//TODO: Add fallbacks
h1 { font: 42px / 50px 'MontserratSemiBold'; letter-spacing: 0.6px; }
h2 { font: 32px / 38px 'MontserratSemiBold'; letter-spacing: 0.6px; }
h3 { font: 24px / 28px 'MontserratSemiBold'; letter-spacing: 0.6px; }
h4 { font: 18px / 22px 'MontserratSemiBold'; }
h5 { font: 14px / 22px 'MontserratRegular';  }

// Import partials
@import
  "base",
  "layout",
  "flex_grid"
;
