---
layout: default
---

<div class="full-width full-width--text-zebra">
  <div class="wrapper">
    <div class="home-grid">
      <div class="item">
        <a href="#">
          <div class="content">
            <img src="/assets/images/home.png" />
            <div class="overlay-light"></div>
            <div class="overlay-dark"></div>
            <h1 class="title">Data viz</h1>
          </div>
        </a>
      </div>

      <div class="item">
        <div class="content">
          <img src="http://www.placecage.com/600/400" />
        </div>
      </div>

      <div class="item">
        <div class="content">
          <img src="http://www.placecage.com/400/600" />
        </div>
      </div>
    </div>
  </div>
</div>



{% for project in site.projects %}
  <div>
    <h2><a href="{{ project.url }}">{{ project.title }}</a><h2>
  </div>
{% endfor %}
