---
layout: default
---

{% include
  project-header.html
  params = page.header-params
%}

<div class="project-wrapper">
  {% for embed in page.embeds %}
    {% case embed.type %}

      {% when nil %}
        {% include
          project-img-embed.html
            page-src = page.project-img-src
            src = embed
        %}

      {% when 'prototype' %}
        <div class="prototype-row prototype-row--{{ embed.orientation }}">
          <div class="marvel-wrapper" id="marvel-{{ embed.name }}">
            <iframe src="{{ embed.src }}" width="{{ embed.width }}" height="{{ embed.height }}" allowTransparency="true" frameborder="0"></iframe>
          </div>
        </div>

      {% when 'text' %}
        <div class="wrapper project-content text">
          {% if embed.header %}
            <h2 class="header">{{ embed.header }}</h2>
          {% endif %}
          <p>{{ embed.body }}</p>
        </div>

      {% when 'button' %}
        <div class="wrapper project-content">
          <div class="center-sm">
            <a class="link-button" href="{{ embed.url }}" target="_blank">{{ embed.content }}</a>
          </div>
        </div>

      {% when 'spacer' %}
        <div class="wrapper project-content">
          <div class="spacer"></div>
        </div>

    {% endcase %}
  {% endfor %}
</div>


{{ content }}
